body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

header {
    background-image: linear-gradient(black, gray);
    color: rgb(117, 223, 133);
    padding: 20px;
    text-align: center;
}

nav a {
    color: rgb(117, 223, 133);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    color: rgb(101, 101, 101);
    background-color: rgb(233, 237, 189);
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

section {
    background: rgb(215, 215, 215);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
